services:
  follow-service:
    build: .
    ports:
      - "8080:8080"
    environment:
      FOLLOW_DB_DSN: postgres://postgres:password123@db:5432/followdb?sslmode=disable
      PORT: 8080
    depends_on:
      migrate:
        condition: service_completed_successfully

  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: followdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 5s
      retries: 5

  migrate:
    image: migrate/migrate:v4.15.2
    command: -path /migrations -database postgres://postgres:password123@db:5432/followdb?sslmode=disable up
    volumes:
      - ./migrations:/migrations
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
